.tableImage { height: 300px; width: auto; border:1px solid #eee; border-radius: 8px; padding: 8px;}
.tableImage:hover { border:1px solid #ccc; cursor: pointer;}

.tablePopImage {  width: 100%; height: auto; border-radius: 10px; }

.inputColorDeep {
  color: rgba(0, 0, 0, 0.7);
}
